# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Anaconda GUI                |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print (result)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print (hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries for Data Science
- Create and interpret tables of Data Science tools
- Evaluate simple arithmetic expressions in Python
- Convert time units between minutes and hours

## Author
Kenneth Aliwarga